html,
body,
main {
    background-color: #c7daea;
        height: 297mm;
        max-width: 210mm;
}

.page {
    background-color: white;
    height: 297mm;
    width: 210mm;
    padding-top: 5mm;
    padding-left: 5mm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.page-title {
    background-color: #c7daea;
    height: 20mm;
    width: 201mm;
    border: solid;
    text-align: center;
}

.parametre {
    height: 60mm;
    width: 201mm;
    border: solid;
}

.ouvriermachine {
    height: 60mm;
    width: 201mm;
    border: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.travaux {
    height: 60mm;
    border: solid;
}

.essais {
    height: 60mm;
    border: solid;
}

.machine {
    height: 60mm;
    border: solid;
}

.materiaux {
    height: 87mm;
    border: solid;
}

.commentaire {
    height: 87mm;
    border: solid;
}
