// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
//light
$bg-content-light: #e9ecef;

//normal
$bg-content: #7e8992;

//middle
$bg-content-middle: #6c757d;

//dark
$bg-content-dark: #4b5157;
