// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Style PDF journalier
// @import "style-pdfjournalier";

//font awesome
@import "scss/fontawesome.scss";


.navbar-laravel {
    background-color: $bg-content-dark !important;
    box-shadow: 0 2px rgba(0, 0, 0, 0.04);

    .navbar-brand {
        color: white !important;
    }

    .nav-link {
        color: white !important;
    }
}

html, body {
    min-height: 100%;
    background: url('/images/bg-principale.jpg');
    background-size: cover;

    header {
        border-bottom: solid 5px #6c757d;
    }

    main {
        //background-color: $bg-content-light;

        min-height: 720px;
        min-width: 100%;

        .content{
            margin-top: 20px; 
        }

        .main-content {
            display: flex;
            justify-content: space-around;

            @media (max-width: 576px) {
                justify-content: center;
            }
        }

        //Page principale
        .principale{
            // display: flex;
            // justify-content:center;
            .jumb-principale {
                // width: 100%;
                margin-top: 50px;
                text-align: center;
            }
        }

        

        //end page principale

        //Page journalière
        .container-fluid {
            padding: 0;
        }

        

        .title-journa {
            padding-top: 30px;
            padding-bottom: 10px;
            margin-top: 15px;
            height: 100px;
            padding-left: 0;
            padding-right: 0;
            color: white;
            background-color: $bg-content;
        }

        .info-journa{
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }

        .actor-journa {
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
        }

        .textarea-journa {
            width: 100%;
            margin-bottom: 20px;
        }

        .content2-journa {
            background-color: $bg-content;
        }

        .btn-journa{
            margin-bottom: 20px;
        }

        //end page journalière
   
    }

    footer {
        height: 100px;
        display: flex;
        align-items: center;
        text-align: center;
        border-top: solid 5px $bg-content-middle;
        background-color: $bg-content-dark !important;

        .deblandero {
            margin-top: 20px;
            color: white;
        }
    }
}

.navbar {
    height: 100%;
}

.navbar-laravel {
    background-color: rgba(255, 255, 255, 0.5);
}

.space-top {
    padding-top: 15px;
}

.form-group {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-sub {
    margin-bottom: 20px;
}

.btn-add {
    margin-bottom: 20px;
}

.title-table {
    margin-top: 10px;
}
