html,
body {
    background-color: white;
    height: 297mm;
    max-width: 210mm;
    main{
        height: 297mm;
        max-width: 210mm;

        .page {
            background-color: white;
            height: 297mm;
            width: 210mm;
            padding-top: 5mm;
            padding-left: 5mm;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;

                    .page-title {
                        background-color: #c7daea;
                        height: 20mm;
                        width: 100%;
                        text-align: center;
                        border: solid;
                        padding-top: 20px;
                    }
        }



        .entrepreneur {
            height: 60mm;
            border: solid;
            .content-entrepreneur {
                padding-top: 15px;
                margin: 0;
                padding-left: 0;
            }
        }

        .parametre {
            height: 60mm;
            border: solid;
            padding: 0;
            .meteo-pdfjourna {
                padding: 0;
                margin-top: 30px;
                width: 100%;
                padding-right: 10px;
            }
            .parametre-pdfjourna {
                padding: 0;
                margin-top: 20px;
                padding-left: 10px;
            }
        }

        .ouvrier {
            height: 60mm;
            border: solid;
            .ouvrier-pdfjourna {
                padding-top: 10px;
            }
        }

        .travaux {
            height: 60mm;
            border: solid;
            .travaux-pdfjourna {
                padding-top: 10px;
            }
        }

        .materiaux {
            height: 60mm;
            border: solid;
            .materiaux-pdfjourna {
                padding-top: 10px;
            }
        }

        .machine {
            height: 60mm;
            border: solid;
            .materiel-pdfjourna {
                padding-top: 10px;
            }
        }

        .essais {
            height: 57mm;
            border: solid;
            .essais-pdfjourna {
                padding-top: 10px;
            }
        }

        .commentaire {
            height: 57mm;
            border: solid;
            .commentaire-pdfjourna {
                padding-top: 10px;
            }
        }

        .signature {
            height: 30mm;
            border: solid;
            .commentaire-pdfjourna {
                padding-top: 10px;
            }
        }

        .button-pdf {
            margin-bottom: 20px;
        }

    }
}


